* {
	padding: 0;
	margin: 0;
}
body {
    height: 400px;
    width: 400px;
    padding: 10px;
    font-family: Helvetica, serif, sans-serif;
}
h1 {
    font-size: 2em;
    color: red;
    margin-bottom: 5px;
}
p {
    font-size: 0.9em;
    color: black;
}